@media (min-width: 992px){
.col-lg-4 {
   
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}}
.name {
    color: #093219;
    margin-left: 4%
  }
  .bold {
    font-weight: bold;
  }
  
.title {
    text-align: center;
    text-transform: uppercase;
    color: #093219;
    margin: 2%;
  }